<router-outlet> </router-outlet>

<div>
  <p *ngFor="let libro of listaLibros">
    {{ libro.autor }} -- {{ libro.idLibro }} -- {{ libro.titulo }}
  </p>
</div>

<p>PROPERTY BINDING</p>

<img [src]="imagenUrl" alt="" />

<button id="boton1" [disabled]="activedButton" (click)="desactivarBoton(true)">
  PROPERTY BINDING
</button>

<p>STYLE BINDING</p>
<button
  [class.activo]="activedButton"
  [disabled]="activedButton"
  (click)="desactivarBoton(true)"
>
  STYLE BINDING
</button>

<button
  [style.backgroundColor]="activedButton ? 'green' : 'white'"
  (click)="desactivarBoton(true)"
>
  STYLE BINDING
</button>

<P>EVENT BINDING</P>
<button (click)="mostrarEvento($event)">EVENT BINDING</button>

<p>EVENT FILTERING</p>
<button (keyup.enter)="mostrarEvento($event)">Boton filtering</button>
